@font-face {
    font-family: 'BinggraeSamanco-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.logo {
    font-family: BinggraeSamanco-Bold;
}


.side_nav{
    float:left;
    height: 100%;
    width:30vh;
    background-color: white;
    border-radius: 10px;
  }
  

ul {
    list-style: none;
}