

.detailImg {
    width : 60vh
}

.col {
    text-align: center;
}

.imgModal {
    margin: 0 auto;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white;
    opacity: 1;
}

.col-xl {
    text-align: center;
}

label {
    margin-left: 10px;
}

Button {
    margin-top: 1%;
    margin-left : 2%;
}