@font-face {
  font-family: 'BinggraeSamanco-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {  
  background : #eeeeee;
  width : 100vh;
  height : 100vh;
  padding-left: 0;
}

/*전체를 감싸는 class*/
.wrap {
  background : #eeeeee;
  padding : 0px;
}

/* 메인 */
.container_main {
  float : left;
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding-top : 10px;
  width : 83%;
  min-height: 90vh;
  background-color: white;
  border-radius: 10px;

}


.logo {
  width : 100%
}




/* 사이드 네비게이션 css들 */
.side_nav {
  height: 100vh;
  width: 15%;
  background-color: white;
  border-radius: 10px;
  float : left;
  position :fixed;
  margin-right : 1%;

}


ul {
  list-style: none;
  padding-left: 10px
}

ul > li {
  padding-top : 2vh;
  font-size : larger;
  border-bottom : 1px solid #eeeeee;
  padding-bottom : 10px;
  margin-right: 20px;
}

ul > li > a {
  color : rgba(0,0,0,.5)
}

ul > li > a:hover {
  text-decoration: none;
  color : rgba(0,0,0,.7)
}

ul > li > a:active {
  text-decoration: none;
  color : #37C56E;
}



/*사이드 네비 fixed라서 눈속임용 css */
.void {
  float : left;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width : 15%;
  background-color: white;
  margin-right : 0.7%;

}